# AskLake example environment values.
# Do not put real secrets in this file.

APP_ENV=local
AWS_REGION=ap-northeast-2
AWS_ACCOUNT_ID=000000000000
ECR_REPOSITORY_PREFIX=asklake
K8S_NAMESPACE=asklake-dev
AWS_ROLE_TO_ASSUME=arn:aws:iam::000000000000:role/asklake-github-actions-dev
AWS_PROFILE=asklake
EKS_CLUSTER_NAME=asklake-dev
GITHUB_REPOSITORY=JUNGLE-TEAM1/NMM_team1
